<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Drivers</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <h1>Welcome to the Drivers Page</h1>
    <!--<p>Date: <input type="text" id="datepicker"/></p>-->

    <table>
        <tr>
            <td>Personal Number</td>
            <td>Last Name</td>
            <td>First Name</td>
        </tr>
        <tr th:each="driver: ${listOfDrivers}">
            <td th:text="${driver.personalNumber}">Personal Number</td>
            <td th:text="${driver.lastName}">Last Name</td>
            <td th:text="${driver.firstName}">First Name</td>
        </tr>
    </table>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<meta charset="utf-8"/>-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

<!--<title>Landon Reservations</title>-->

<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
<!--<link rel="stylesheet" href="css/site.css"/>-->

<!--&lt;!&ndash;drivers&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="drivers">Drivers List</a>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--<div class="container">-->
<!--<div class="page-header">-->
<!--<h1>Welcome to the Drivers Page</h1>-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>-->
<!--<input type="text" class="form-control" id="datepicker" aria-describedby="basic-addon1"/>-->
<!--</div>-->

<!--<table class="table table-striped table-bordered table-hover">-->
<!--<tr>-->
<!--<td>Personal Number</td>-->
<!--<td>Last Name</td>-->
<!--<td>First Name</td>-->
<!--</tr>-->
<!--<tr th:each="driver: ${listOfDrivers}">-->
<!--<td th:text="${driver.personalNumber}">Personal Number</td>-->
<!--<td th:text="${driver.lastName}">Last Name</td>-->
<!--<td th:text="${driver.firstName}">First Name</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--<footer class="footer navbar-inverse navbar-fixed-bottom">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-4"></div>-->
<!--<div class="col-md-4"><p class="text-muted">@Copyright 2018 Kate Kozlova</p></div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->

<!--&lt;!&ndash;<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="js/site.js"></script>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->

